@{
  Layout = "_MainLayout";
}



<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
</head>
<body>
  <div>
    @RenderBody()
  </div>
  <!--Nedan ser man en lista på ärenden-->
  <table>
    @{
      string controller = "";
      string action = "";

      controller = (string)Html.ViewContext.RouteData.Values["controller"];
      if (controller == "Coordinator") {
        action = "CrimeCoordinator";
      }
      else if (controller == "Investigator") {
        action = "CrimeInvestigator";

      }
      else {
       action = "CrimeManager";
      }
      <tr>
        <th>Ärende anmält</th>
        <th>Ärendenummer</th>
        <th>Miljöbrott</th>
        <th>Status</th>
        <th>Avdelning</th>
        <th>Handläggare</th>
      </tr>
      <tr>
        <td>2020-05-01</td>
        <td><a asp-controller=@controller asp-action=@action>2020-45-0201</a></td>
        <td>Oljeutsläpp</td>
        <td>Ej startad</td>
        <td>Tekniska avloppshanteringen</td>
        <td>Ingen utredare satt</td>
      </tr>
      <tr>
        <td>2020-05-01</td>
        <td><a asp-controller=@controller asp-action=@action>2020-45-0202</a></td>
        <td>Oljeutsläpp</td>
        <td>Pågående</td>
        <td>Tekniska avloppshanteringen</td>
        <td>Ada Bengtsson</td>
      </tr>
      <tr>
        <td>2020-05-01</td>
        <td><a asp-controller=@controller asp-action=@action>2020-45-0203</a></td>
        <td>Oljeutsläpp</td>
        <td>Ej startad</td>
        <td>Tekniska avloppshanteringen</td>
        <td>Ingen utredare satt</td>
      </tr>
      <tr>
        <td>2020-05-01</td>
        <td><a asp-controller=@controller asp-action=@action>2020-45-0204</a></td>
        <td>Oljeutsläpp</td>
        <td>Ej startad</td>
        <td>Tekniska avloppshanteringen</td>
        <td>Ingen utredare satt</td>
      </tr>
      <tr>
        <td>2020-05-01</td>
        <td><a asp-controller=@controller asp-action=@action>2020-45-0205</a></td>
        <td>Oljeutsläpp</td>
        <td>Pågående</td>
        <td>Tekniska avloppshanteringen</td>
        <td>Bengt Cederström</td>
      </tr>
      <tr>
        <td>2020-05-01</td>
        <td><a asp-controller=@controller asp-action=@action>2020-45-0206</a></td>
        <td>Oljeutsläpp</td>
        <td>Ej startad</td>
        <td>Tekniska avloppshanteringen</td>
        <td>Ingen utredare satt</td>
      </tr>
      <tr>
        <td>2020-05-01</td>
        <td><a asp-controller=@controller asp-action=@action>2020-45-0206</a></td>
        <td>Oljeutsläpp</td>
        <td>Ej startad</td>
        <td>Tekniska avloppshanteringen</td>
        <td>Ingen utredare satt</td>
      </tr>
      }
    </table>
</body>
</html>
