
@{
  Layout = "_HeaderLayout";
}

<main>
  <figure>
    <img src="~/images/amfibie.jpg" width="371" height="500" alt="bokomslag för amfibe?! jag" />
  </figure>
  
 <p>
   <a class="links" asp- controller="Books" asp-action="Bocker">Våra böcker</a>
 </p>
</main>
