
@{
}

<h1>Våra böcker</h1>

<section id="odlankrokodil">
  <a asp-controller="Books" asp-action="Odlan"><img src="~/images/thumbnails/odlan.jpg" alt=" = Ödlans flykt" /></a>
  <h2>Ödlans flykt</h2>
  <p>
    Författare: Doria Oregano<br />
    36 sidor <br />
    En bok som berattar om den kvicka lilla ödlan som gömmer sig i mörka skrevor.
  </p>
    <a asp-controller="Books" asp-action="Krokodil">
    <img src="~/images/thumbnails/krokodil.jpg" alt=" krokodil thumbnail here" />
    </a>
    <h2>Krokodiler och andra urdjur</h2>
    <p>Författare: Lise Lyngeland<br /></p>
    48 sidor <br />
    Om riktigt gamla djur i vår natur som många gånger är snällare än man kan tro. Här får man också veta ett och annat om arternas ursprung.
    </p>
</section>

<section id="amfibietitta">
    <a asp-controller="Books" asp-action="Amfibie">
    <img src="~/images/thumbnails/amfibie.jpg" alt=" = amfibie!" />
      </a>
    <h2>Amfibie?! JAG? </h2>
    <p>Författare: Nelson Nedem<br />
    36 sidor <br />
    Om livet i kärret bland grodor och paddor
    </p>
    <a asp-controller="Books" asp-action="Titta">
    <img src="~/images/thumbnails/titta.jpg" alt=" titta det växer" />
      </a>
    <h2>Titta de växer!</h2>
    <p>Författare: Erik Simon<br /></p>
    24 sidor <br />
    Vardagen bland växter och djur hemma i trädgården
    </p>
</section>