@{
  Layout = "_HeaderLayout";
}

<main>
  <figure>
    <img src="~/images/krokodil.jpg" width="500" height="525" alt="bokomslag för krokodiler och andra urdjur" />
  </figure>

  <p>
    <a class="links" asp- controller="Books" asp-action="Bocker">Våra böcker</a>
  </p>
</main>

