@{
  Layout = "_HeaderLayout";
}

<main>
  <figure>
    <img src="~/images/titta.jpg" width="371" height="525" alt="bokomslag för titta det växer" />
  </figure>

  <p>
    <a class="links" asp- controller="Books" asp-action="Bocker">Våra böcker</a>
  </p>
</main>